<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Phase One Project</title>
</head>
<body>
    <script src="index.js"></script>
    <div class ="header"
        style="width:1900px; height:100px; border:3px solid rgb(161, 83, 83);">
        <h1 style="text-align:center"> Welcome To The Mixer!</h1>
    </div>
    
    <div id="drink-image-container">
        <!-- images go here-->

    </div>

    <div class="commentLocation">
        <div id="list" class="comments"></div>

        <h2>Leave a suggestion!</h2>
        <form id="comment-form" action="">
            <input type="text" placeholder="Write a comment" name="comment-input" cols="30" rows="10">
        </br>
        <button id="submit">submit</button>
        </form>
    </div>
    

    <section id="app">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="comment">
            <p v-for="items in item" v-text="items"></p>
              </div><!--End Comment-->
              </div><!--End col -->
              </div><!-- End row -->
          <div class="row">
            <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
            </div><!-- End col -->
          </div><!--End Row -->
        </div><!--End Container -->
      </section><!-- end App -->
</body>
</html>