body {
    background: paleturquoise;
}

div.header {  
    /*box-shadow: 120px 80px 40px 20px rgb(79, 42, 179);*/
    box-shadow: 10px 8px 40px 2px rgb(79, 42, 179);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    width:1 900px;
    height: 100px;
    border: 3px solid rgb(161, 83, 83);
  }

div.commentLocation {
    position: absolute;
    top: 700px;
    right: 0;
    width: 220px;
    height: 100px;
}

.welcome {
    text-align: center
}



